{% extends "index.html" %}
{% block content %}
<div id="main">
    <div>
        <form id="runModelForm">
            <div class="form-group">
                <label>Run a new model</label>
                <input class="form-control" type="text" placeholder="Symbol" id="symbolToRun" name="symbol">
            </div>
            <button class="btn btn-primary m3" type="submit" id="run">Run</button>
            <div class="spinner-border text-primary m-1" role="status" id="loadingSpinner"></div>
        </form>
    </div>
    <hr />
    <div id="cards"></div>
</div>
<script>
    window.onload = init
    const form = document.getElementById("runModelForm")
    form.addEventListener('submit', async function(event) {
        event.preventDefault();
        const symbol = event.target.symbol.value
        const run_req = await fetch("/train", 
        {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "symbol": event.target.symbol.value,
                "LSTM_units": 96,
                "dropout": 0.2,
                "loss_type": "mean_squared_error",
                "optimizer": "adam",
                "epochs": 5,
                "batch_size": 20,
                "training_set_size": 50
            })
        })
        const res = await run_req.json()
        var training = true
        var spinner = document.getElementById("loadingSpinner")
        spinner.style.display = "inline-flex"
        while (training) {
            var r = await fetch(`/train/status/${res.task_id}`, {
                method: "GET"
            })
            var response = await r.json()
            console.log(response)
            if (response.status == "SUCCESS") {
                training = false
                spinner.style.display = "none"
            }
            else if (response.status == "FAILURE") {
                training = false
                spinner.style.display = "none"
            }
            else {
                await sleep(5000);
            }
        }
        init()
    })
    async function init() {
        const param_req = await fetch("{{ url_for('get_latest_models') }}", {
            method: "GET"
        })
        let models = await param_req.json()
        console.log(models.models_ran)
        let row
        let container = document.getElementById("cards")
        // Find card if it exists and delete it
        const oldCard = document.getElementById("cards")
        while (oldCard.lastElementChild) {
            oldCard.removeChild(oldCard.lastElementChild)
        }
        for (let i = 0; i < models.models_ran.length; i++) {
            const ratio_req = await fetch(`/${models.models_ran[i]}/ratios`, {method: "GET"})
            let ratios = await ratio_req.json()
            console.log(ratios)
            if (i % 3 === 0) {
                const rowBreak = document.createElement("hr")
                row = document.createElement('div')
                row.className = "row"
                container.append(rowBreak)
                container.appendChild(row)
            }
            const wrapper = document.createElement('div')
            const newElement = document.createElement('div')
            const card = document.createElement('div')
            card.className = "card"
            const cardBody = document.createElement("div")
            cardBody.className = "card-body"
            const cardTitle = document.createElement("h5")
            cardTitle.textContent = `${models.models_ran[i]}`
            const cardButton = document.createElement("a")
            cardButton.className = "btn btn-primary"
            cardButton.textContent = `${models.models_ran[i]} Data`
            cardButton.href = `/report/${models.models_ran[i]}`
            const sharpeRatio = document.createElement("p")
            sharpeRatio.textContent = `Sharpe Ratio: ${ratios.sharpe_ratio}`
            const sortinoRatio = document.createElement("p")
            sortinoRatio.textContent = `Sortino Ratio: ${ratios.sortino_ratio}`
            cardBody.appendChild(cardTitle)
            cardBody.appendChild(sharpeRatio)
            cardBody.appendChild(sortinoRatio)
            cardBody.appendChild(cardButton)
            card.style.padding = "10px"
            card.appendChild(newElement)
            card.appendChild(cardBody)
            newElement.id = `${models.models_ran[i]}`
            wrapper.className = "col-4"
            wrapper.id = `${models.models_ran[i]}_content`
            wrapper.appendChild(card)
            row.appendChild(wrapper)
            await renderPlot(models.models_ran[i])
        }
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function renderPlot(symbol) {
        const param_req = await fetch(`/${symbol}/parameters`, {
            method: "GET"
        })
        let params
        if (param_req.status != 500) {
            params = await param_req.json()
        }
        else {
            params = {training_set_size: 50}
        }
        
        const dataSet = await fetch(`/${symbol}/predicted_data`, {
            method: "GET"
        })
        const data = await dataSet.json()
        const start = data["training_data_size"] + params.training_set_size
        const end = data["raw_data"].length
        const r = Array.from({ length: end - start + 1 }, (_, index) => start + index)
        console.log(data)
        const trace1 = {
            x: data["times"].slice(start, end),
            y: data["raw_data"].slice(start, end),
            type: 'scatter',
            name: "Historic Price"
        }


        let trace2 = {
            x: r.map(x => data["times"][x]),
            y: data["predictions"],
            type: 'scatter',
            name: "Predicted Price",
            marker: {
                color: "red"
            }
        }
        var layout = {
            title: {
                text:`${data["symbol"]} Predicted Price - ${data["predictions"][data["predictions"].length - 1].toFixed(2)}`,
                font: {
                    size: 18
                },
                xref: 'paper',
                x: 0.05,
            },
            autosize: true, 
            xaxis: {
                title: {
                text: 'Date',
                },
                automargin: true,
            },
            yaxis: {
                title: {
                text: '$',
                },
                automargin: true,
            },
            margin: {
                l: 50,
                r: 50,
                b: 100,
                t: 100,
                pad: 4
            },
            };
            
        var config = {responsive: true}
        Plotly.newPlot(symbol, [trace1, trace2], layout, config)
    }
</script>
{% endblock %}